* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
      }

body {
    
    font-family: Helvetica, Arial, sans-serif;
  }

html,
body {
 width: 100% ;
 height: 100% ;
  
  background-image: url(https://i.imgur.com/r8EL8RW.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    
}

header {
    padding: 10px 15px;

    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(24, 155, 199);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header a {
      color: rgb(24, 155, 199);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav {
      margin: 7px 0;
      display: inline-block;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
      margin: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: white;
    color: #001999;
    border-radius: 15px;
    text-shadow: none;
  }

  section {
      padding: 0;
  }

  .subtitle h1  {
      font-size: 100px;
      color: rgb(109, 71, 0);
      display: inline;
      margin: 0;
      position: relative;
      top: 300px; right: 150px;
      
  } 

  .subtitle h2 {
    font-size: 80px;
    color: rgb(109, 71, 0);
    display: inline;
    margin: 0;
    position: relative;
    top: 100px; right: 600px;
    
  }

  .hero {
     
      height: 700px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
  }

  .hero img {
      border-radius: 20px;
      position: relative;
      top: 50px; left: 100px;
      box-shadow: 0 0 0 10px white;
  }

  

  .intro {
      width: 100%;
      
  }


   .intro h2 {
      color: rgb(109, 71, 0);
      
      font-size: 60px;
      display: inline-block;
      text-align: center;
      margin-top: 100px;
  }

  .intro p {
    color:#423c2f;
    text-shadow: 0 0 25px rgb(0, 0, 0, .9);
    font-size: 30px;
  
    padding: 20px;
    margin: 10px auto 10px auto;
    right: 800px;
    text-align: center;
  }

  .flex-row {
      display: flex;
      flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;


  }

  .flex-row1 {
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
    position: absolute;
  }

  .projects {
      align-items: center;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .projects h2 {
    color: rgb(109, 71, 0);
    
    font-size: 70px;
    margin-top: 100px;
   text-align: center;

  }
  .work-img{
    
    flex-wrap: wrap;
    margin: 10px;
    padding: 15px;
    

  }

  
  

  .work-img h3 {
    text-shadow: 0 0 10px rgb(0, 0, 0, .9);
    
    top: -90px; left: 5px;
  }

  .work-img p {
    text-shadow: 0 0 10px rgb(0, 0, 0, .9);
    
    top: -90px; left: 5px;
  }

  

  

  

  .contact-me {
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
      position: absolute;
      right: 900px;
  }


  .contact-me h2 {
    color:rgb(109, 71, 0);
    margin:10px;
    font-size: 60px;
    position: relative;
    top: 100px; right: 290px;
    display: inline;

  }

  .email {
    position: relative;
    top: 200px; left: 550px;
    z-index: 9999;
  }

  .github {
    position: relative;
    top: 50px; left: 750px;
    z-index: 9999;
  }

  .facebook {
    position: relative;
    top: -100px; left: 950px;
    z-index: 9999;
  }

  .instagram {
    position: relative;
    top: -240px; left: 1150px;
    z-index: 9999;
  }

  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;

    }
  .subtitle h1  {
      font-size: 100px;
      color: rgb(109, 71, 0);
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      position: relative;
      top: 130px; left: 45px;
      
  } 
  .intro p {
    color:orange;
    text-shadow: 0 0 25px rgb(0, 0, 0, .9);
    font-size: 30px;
  flex-wrap: wrap;
    padding: 20px;
    margin: 10px auto 10px auto;
    right: 800px;
    text-align: center;
    display: flex;
  }

  .subtitle h2 {
    font-size: 80px;
    color: rgb(109, 71, 0);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    top: 300px; right: 200px;
    
  }
    header h1 {
      width: 50%;
      text-align: center;
    }
  

    header nav ul {
      margin-top: 20px;
      width: 50%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .projects {
        align-items: center;
  
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .contact-me h2 {
      color:rgb(109, 71, 0);
      
      font-size: 70px;
      position: relative;
      top: 100px; left: 400px;
  
    }

}



@media screen and (max-width: 768px) {
  .subtitle h2 {
    font-size: 50px;
    color: rgb(109, 71, 0);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    top: 340px; right: 17px;
  }
    
  .intro h2 {
    color: rgb(109, 71, 0);
    
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 160px;
    margin: 10px;
    padding: 5px;
    left: 100px;
}
.subtitle h1  {
  font-size: 50px;
  color: rgb(109, 71, 0);
  display: inline;
  margin: 0;
  position: relative;
  top: 300px; right: 150px;

  
  
} 
.flex-row1 {

  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
  left: 500px;
}

.contact-me h2 {
  color:rgb(109, 71, 0);
  margin:1px;
  padding: 1px;
  font-size: 40px;
  display: flow-root;
  
  

}

   
}